<h1> Log In here!</h1>

<%= form_for @user, url: sessions_path do |f| %>
    <div class="field_with_errors"> <%= f.label :username %><br> </div>
    <div class="field_with_errors"> <%= f.text_field :username %> </div> <br></br> 

    <div class="field_with_errors"> <%= f.label :password %> </div> <br>
    <div class="field_with_errors"> <%= f.password_field :password %> </div> <br></br>

    <%= f.submit "Log In" %>
<% end %>