<%= form_for @note, :url => { :controller => "notes", :action => "create"}, :html => {:method => :post} do |f| %>
  <%= f.label "Note to self:" %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>
<br></br>

<div id="note">
<p id="noteContent"></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
<script type="text/javascript" charset="utf-8">
$(function () {
  $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post("/users/" + "<%= @user.id %>" );
      
      posting.done(function(data) {
          console.log(data);

          var note = data; 
          $("#noteContent").text(note["content"]);
      });
  });
});
</script>