<%= form_for(@user) do |f| %>

    <%= f.label :username  %>
    <%= f.text_field :username %><br></br>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br></br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br></br>


    <p><strong> Submit your password & password confirmation to update you account.</strong></p>
    <p><strong> If you signed in through Github, create your password below.</strong></p>

    <%= f.label :password %>
    <%= f.password_field :password %><br></br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br></br>

    <%= f.button "Update User Info", { :controller => 'users', :action => 'update'} %>
<% end %>