<h2> Meet People </h2><br>
    <div id="allUsers">
    <h3><strong> User: </strong> <%= @user.username %>, a.k.a. <i> <%= @user.first_name %></i></h3>
    <p> Joined on <%= @user.created_at.strftime("%B %d %Y")%></p>

    <% @user.reviews.each do |review| %>
        <div id="review-<%= review.id%>"><strong><%= review.product.name %> beer: </strong><%= truncate review.product_review %></div>
            <button class="js-review" data-id="<%= review.id %>"> More... </button><br><br>
    <% end %>
    <br></br>
    </div>

    <button id="users-btn">See more users...</button>

<%= content_tag :div, class: "users", data: {users: @users} do %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
<script>
   $(function () {
       $(".js-review").on('click', function() {
           const id = $(this).data("id");
           const $element = $(this);

           $.get("/reviews/" + id, function(data) {
                $("#review-"+id).text(data);
                $element.remove();
           });
       });
       $("#users-btn").on('click', function() {
           $("#allUsers").html("");
           $.get('/users.json', function(users){
                users.forEach(function (user) {
                    let eachUser = new User(user.username, user.first_name, user.reviews);
                    $("#allUsers").append(eachUser.renderUser());
                    $("#allUsers").append(eachUser.renderReviews());
                });
           })
           
       }); 

       function User(userName, firstName, reviews){
        this.userName = userName; 
        this.firstName = firstName; 
        this.reviews = reviews;
       };

       User.prototype.renderUser = function() {
        return `<br><h3><strong> User: </strong> ${this.userName}, a.k.a. <i> ${this.firstName} </i></h3>`
       };

       User.prototype.renderReviews = function() {
           let htmlString = "";
            this.reviews.forEach(function (review) {
                htmlString += `<p><strong>${review.product_name} Beer:</strong>${review.product_review}</p>`
            });
            return htmlString;
       };

   });
</script>
<% end %>   