<h3> Create Your User Account: </h3>

<% if flash[:password_mismatch] %>
    <div class="notice"><%= flash[:password_mismatch] %></div>
<% end %>

<% if flash[:failure] %>
    <div class="notice"><%= flash[:failure] %></div>
<% end %>

<%= form_for @user do |f| %>

    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>

    <%= f.label :username %><br>
    <%= f.text_field :username %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>

    <%= f.submit %>

<% end %>