<h2> Welcome <%= @user.first_name %>! </h2>

<%= link_to "Explore Restaurants", stores_path(:user_id => @user.id) %><br></br>

<%= link_to "Log out", signout_path(@user) %><br></br>

<% if flash[:account_success] %>
    <div class="notice"><%= flash[:account_success] %></div>
<% end %>

<h3>Your Account Info:</h3>

<strong> Username: </strong> <%= @user.username %><br>
<strong> First Name: </strong> <%= @user.first_name %><br> 
<strong> Last Name: </strong> <%= @user.last_name %><br> 
<strong> You joined us on: </strong> <%= @user.created_at.strftime("%B %d %Y") %> <br><br>

<%= link_to "Edit Your Account Info", edit_user_path(@user) %><br></br>
<%= link_to "See what other users think", users_path %><br><br>

<% if flash[:update_review] %>
    <div class="notice"><%= flash[:update_review] %></div>
<% end %>

<h3>Your Reviews:</h3>
<% @user.reviews.newest_first.each do |review| %>
    <strong>Business: </strong> <%= review.product.store.name %><br>
    <strong>Product: </strong> <%= review.product.name %><br>
    <div id="review-<%= review.id%>"><strong>Review: </strong><%= truncate review.product_review %></div><button class="js-review" data-id="<%= review.id %>"> More... </button><br><br>
    
    <%= link_to "Edit this Review", edit_store_product_review_path(@store, @product, review) %><br>
    <%= link_to "Delete this Review", delete_review_path(review) %><br></br>

    <%= hidden_field_tag "user_id", @user.id %>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
<script>
   $(function () {
       $(".js-review").on('click', function() {
           var id = $(this).data("id");
           $.get("/reviews/" + id, function(data) {
                $("#review-"+id).text(data);
           });
       });
   });
</script>