<%= form_for(@user) do |f| %>
    <p><strong> Since you signed in through Github, create your password below.</strong></p>

    <%= f.label :password %>
    <%= f.password_field :password %><br></br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br></br>

    <%= f.button "Update Password", uploading_path(@user) %>
<% end %>