<h3>Brewed by: <%= @product.producer_name %> </h3>

<%= link_to "Go Back to the Beer Menu", store_path(@store)  %><br></br>
<%= link_to "My Account", user_path(@user)  %><br></br>

<h3> <%= @product.name %> </h3><br>

<img src=" <%=@product.image%> "><br>
<i>Alcohol Content: </i><%= @product.alcohol_content * 0.01 %><br>
<i>Price (in Canadian dollars): </i><%= @product.price_in_cents * 0.01 %><br>
<i>Variety: </i><%= @product.variety %><br>
<i>Style: </i><%= @product.style %><br>
<i>Flavor Profile: </i><%= @product.flavor_profile %><br>
<i>Suggestion: </i><%= @product.serving_suggestion %><br>
<br>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @product.reviews.empty? %>
    <p> It looks like there are no reviews yet. </p>
    <p> <%= link_to "Be the first to review this product!",  new_store_product_review_path(@store, @product, @review)  %></p>
    <%= hidden_field_tag "user_id", @user_id %>
<% else %>
    <h3>User Reviews:</h3>
    <% @product.reviews.each do |review| %>
        <p>
         <strong> <%= review.user.username %> says: </strong> 
            <div id="review-<%= review.id %>">
                <%= truncate review.product_review %><br></div> <button class="js-review" data-id="<%= review.id %>">More...</button><br></br>
         <i>posted on <%= review.created_at.strftime("%B %d %Y") %></i>
         </p>

    <% end %>
    <p> <%= link_to "Share Your Experience!",  new_store_product_review_path(@store, @product, @review)  %></p>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $(".js-review").on('click', function() {
            var id = $(this).data("id");
            $.get("/reviews/" + id, function(data) {
                $("#review-" + id).text(data);
            });
        });
    });
</script>